@mixin button ($width, $height, $radius) {
  cursor: pointer;
  width: $width;
  height: $height;
  border-radius: $radius;
  border: none;
  background: var(--mag-purple, linear-gradient(90deg, #C71B74 0%, #A842A2 100%));

  &:hover {
    background: var(--mag-purple, linear-gradient(300deg, #C71B74 0%, #A842A2 100%));
  }
}