@import '../mixins/button';
@import "../mixins/cube";

.blockCards {
  margin-top: 208px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  width: 100%;
  
  @media (min-width: 640px) and (max-width: 1200px) {
    margin-left: 10px;
  }

  @media (max-width: 640px) {
    flex-wrap: nowrap;
    width: 100%;
    height: 380px;
    overflow: scroll;
  }
  
  @media (max-width: 639px) {
    flex-wrap: nowrap;
    width: 100%;
    height: 380px;
    overflow: scroll;
    margin-left: 15px;
  }
  
}

.cards-title {
  color: var(--white, #EEE);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  
  @media (min-width: 640px) and (max-width: 1200px) {
    font-size: 32px;
  }
  
  @media (max-width: 639px) {
    font-size: 24px;
  }
}

.cards-item {
  cursor: pointer;
  position: relative;
  margin-bottom: 320px;
  perspective: 1000px;
  width: 221px;
  padding-bottom: 40px;

  @media (max-width: 640px) {
    margin-right: 250px;
  }
}

.cardsButton {
  position: relative;
  left: 50%;
  margin-top: 100px;
  transform: translate(-50%, 0);
  color: #000;
  font-family: 'Akrobat', serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  text-transform: capitalize;
  @include button(316px, 72px, 50px);

  @media (min-width: 640px) and (max-width: 1200px) {
    font-size: 18px;
    @include button(364px, 45px, 30px);
  }
  
  @media (max-width: 639px) {
    margin: 30px 0 0 0;
    font-size: 18px;
    @include button(300px, 45px, 30px);
  }
}

.cards-back {
  position: relative;
  width: 221px;
  height: 339px;
  border-radius: 16px;
  background-color: #EEEEEE;
  transform: rotateY(180deg);

  &:before {
    content: '';
    position: absolute;
    width: 170px;
    height: 300px;
    border: 1px solid black;
    margin: 20px 25px;
    z-index: 1;
  }
}

.cards-front, .cards-back {
  position: absolute;
  transition: 1s;
  backface-visibility: hidden;
}

.figureTop {
  position: absolute;
  top: 14px;
  left: 16px;
  width: 40px;
  height: 55px;
  color: var(--bg, #050505);
  font-family: 'Akrobat', serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -2.5px;
  background-color: #EEEEEE;
  z-index: 2;
}

.figureBottom {
  position: absolute;
  bottom: 14px;
  right: 16px;
  width: 40px;
  height: 55px;
  color: var(--bg, #050505);
  font-family: 'Akrobat', serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -2.5px;
  background-color: #EEEEEE;
  transform: rotate(-180deg);
  z-index: 2;
}

.card-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg, #050505);
  text-align: center;
  font-family: 'Akrobat', serif;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 4;
}

.cubeOne {
  position: relative;
  &:before {
    @include cube(var(--redcard, linear-gradient(180deg, #FFF 0%, #D62229 100%)))
  }
}
.cubeTwo {
  position: relative;
  &:before {
    @include cube(linear-gradient(180deg, #FFF 0%, #EAAA20 100%))
  }
}
.cubeThree {
  position: relative;
  &:before {
    @include cube(linear-gradient(360deg, #6F246E 0%, #FFF 100%))
  }
}
.cubeFour {
  position: relative;
  &:before {
    @include cube(var(--magentacard, linear-gradient(180deg, #FFF 0%, #C71B74 100%)))
  }
}
.cubeFive {
  position: relative;
  &:before {
    @include cube(var(--purplecard, linear-gradient(180deg, #FFF 0%, #6F246E 100%)))
  }
}