@import "../mixins/button";

.course-title {

  display: flex;
  margin-top: 150px;
  color: var(--white, #EEE);
  
  @media (min-width: 640px) and (max-width: 1200px) {
    margin: -150px 0 0 25px;
  }
  
  @media (max-width: 639px) {
    margin: -130px 0 0 0;
  }
}

.title {
  width: 230px;
  margin-top: 320px;
  color: var(--white, #EEE);
  font-size: 300px;
  font-weight: 400;
  transform: rotate(-90deg);
  
  @media (min-width: 640px) and (max-width: 1200px) {
    width: 130px;
    font-size: 150px;
  }

  @media (max-width: 639px) {
    width: 100px;
    font-size: 100px;
  }
}

.course {
  height: 190px;
  margin-top: 145px;
  color: var(--white, #EEE);
  font-size: 200px;
  font-style: normal;
  font-weight: 400;

  @media (min-width: 640px) and (max-width: 1200px) {
    height: 70px;
    margin-top: 285px;
    font-size: 100px;
  }
  
  @media (max-width: 639px) {
    height: 40px;
    margin-top: 315px;
    font-size: 75px;
  }
}

.experience {
  color: var(--white, #EEE);
  font-size: 90px;
  font-weight: 400;
  line-height: 111.5px;
  text-align: left;

  @media (min-width: 640px) and (max-width: 1200px) {
    height: 80px;
    font-size: 45px;
  }
  
  @media (max-width: 639px) {
    height: 21px;
    font-size: 30px;
  }
}

.courseDescription {
  color: var(--white, #EEE);
  font-family: 'Akrobat', serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 42px;
  
  @media (min-width: 640px) and (max-width: 1200px) {
    height: 12px;
    font-size: 17px;
  }
  
  @media (max-width: 639px) {
    position: absolute;
    top: 380px;
    left: 15px;
    width: 285px;
    height: 10px;
    font-size: 14px;
  }
}

.button {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  color: #000;
  font-family: 'Akrobat', serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  text-transform: capitalize;
  @include button(274px, 114px, 30px);

  @media (min-width: 640px) and (max-width: 1200px) {
    position: absolute;
    top: 500px;
    font-size: 18px;
    @include button(242px, 50px, 30px);
  }
  
  @media (max-width: 639px) {
    position: absolute;
    top: 500px;
    font-size: 18px;
    @include button(300px, 45px, 30px);
  }
}

