
.header {
  display: flex;
  justify-content: space-between;
  width: 825px;
}

.header-logo {
  display: flex;
  margin-top: 30px;
}

.header-social {
  display: flex;
  justify-content: space-between;
  width: 390px;
  height: 40px;
  margin-top: 60px;
}

.social {
  cursor: pointer;
  position: relative;
  display: flex;
  vertical-align: center;

  &:hover:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
  }
}

.hoverSocial {
  &:hover:before {
    border-radius: 100%;
    background: rgb(199,27,116);
    background: linear-gradient(180deg, rgba(199,27,116,1) 0%, rgba(168,66,162,1) 85%);
    z-index: -1;
  }
}