.info-best {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 630px;
  margin-top: 120px;
  border-radius: 50px;
  background: var(--white, #EEE);
}

.info-title {
  text-align: right;
}

.best100 {
  margin: 32px 0 0 0;
  color: #050505;
  font-size: 90px;
  font-weight: 400;
  text-transform: uppercase;
}

.bestDescription {
  color: var(--bg, #050505);
  font-size: 75px;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  text-align: right;
}

.info-item {
  width: 320px;
  min-height: 100px;
  margin: 0 0 30px 10px;
}

.hundred {
  color: #6F246E;
  font-size: 120px;
}

.info-description {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 250px;
  margin-top: 50px;
  margin-left: 25px;
}

.tr {
  width: 416px;
  margin-top: 250px;
  color: var(--bg, #050505);
  text-align: center;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 111px;
  text-transform: capitalize;
  transform: rotate(-90deg);
}


.infoButton {
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    left: 90px;
    border: 4px dotted black;
    height: 100%;
  }
}


.info-subtitle {
  color: var(--bg, #050505);
  font-family: 'Akrobat', serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 42px;
}

.specification {
  width: 100%;
  color: #484848;
  font-family: 'Akrobat', serif;
  font-size: 24px;
  font-weight: 500;
}