.info-best {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 630px;
  margin-top: 120px;
  border-radius: 110px;
  background: var(--white, #EEE);
  z-index: -1;
  
  @media (min-width: 320px) and (max-width: 639px) {
    border-radius: 10px;
  }
}

.info-center {
  width: 100%;
  margin-right: 95px;
  
  @media (max-width: 1200px) {
    margin-right: 0;
  }
}

.info-title {
  text-align: right;
  
  @media (min-width: 640px) and (max-width: 1200px) {
    margin-right: 35px;
  }

  @media (max-width: 639px) {
    margin-top: 117px;
    text-align: center;
  }
}

.best {
  @media (max-width: 1200px) {
    font-size: 50px;
  }
  
  @media (min-width: 640px) and (max-width: 710px) {
    color: var(--white, #EEE);
  }

  @media (max-width: 639px) {
    color: var(--bg, #050505);
  }
}

.best100 {
  margin: 32px 0 0 0;
  color: #050505;
  font-size: 90px;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    font-size: 50px;
  }
  
  @media (max-width: 639px) {
    text-align: left;
    margin: 0 auto;
    width: 222px;
  }
}

.bestDescription {
  color: var(--bg, #050505);
  font-size: 75px;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  text-align: right;

  @media (min-width: 640px) and (max-width: 1200px) {
    font-size: 50px;
  }
  
  @media (max-width: 639px) {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
  }
}

.info-item {
  width: 320px;
  min-height: 100px;
  margin: 0 0 30px 10px;
  
  @media (min-width: 640px) and (max-width: 659px) {
    width: 190px;
  }

  @media (max-width: 639px) {
    margin-bottom: 20px;
    width: 110px;
  }
}

.hundred {
  color: #6F246E;
  font-size: 120px;

  @media (max-width: 1200px) {
    font-size: 64px;
  }
}

.info-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 250px;
  margin-top: 50px;
  margin-left: 25px;

  @media (min-width: 640px) and (max-width: 1200px) {
    margin: 50px 0 0 0;
  }
  
  @media (max-width: 639px) {
    margin: 20px 0;
  }
}

.tr {
  position: absolute;
  left: 0;
  top: 45%;
  width: 420px;
  color: var(--bg, #050505);
  text-align: center;
  font-size: 100px;
  font-weight: 400;
  line-height: 111px;
  text-transform: capitalize;
  transform: rotate(-90deg) translateY(-60%);
}


.infoButton {
  cursor: pointer;
  position: relative;
  width: 460px;

  @media (max-width: 1200px) {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    border: 4px dashed black;
    height: 100%;
  }
}


.info-subtitle {
  color: var(--bg, #050505);
  font-family: 'Akrobat', serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 42px;

  @media (max-width: 639px) {
    font-size: 18px;
  }
}

.specification {
  width: 100%;
  color: #484848;
  font-family: 'Akrobat', serif;
  font-size: 24px;
  font-weight: 500;

  @media (max-width: 639px) {
    font-size: 12px;
  }
}

.bestImg {
  @media (min-width: 640px) and (max-width: 1200px) {
    position: absolute;
    top: -120px;
    height: 300px;
    z-index: -1;
  }
  @media (max-width: 639px) {
    display: none;
  }
}

.MobileImg {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: 640px) {
    display: none;
  }
}