@import '~normalize.css';
@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: url(../fonts/bebasneuecyrillic.eot);
  src: url(../fonts/bebasneuecyrillic.eot?#iefix) format("embedded-opentype"), url(../fonts/bebasneuecyrillic.otf) format("otf"), url(../fonts/bebasneuecyrillic.svg#bebasneuecyrillic) format("svg"), url(../fonts/bebasneuecyrillic.woff) format("woff"), url(../fonts/bebasneuecyrillic.woff2) format("woff2");
}
@font-face {
  font-family: "Akrobat";
  src: url(../fonts/Akrobat/Akrobat.eot);
  src: url(../fonts/Akrobat/Akrobat.eot?#iefix) format("embedded-opentype"), url(../fonts/Akrobat/Akrobat.woff2) format("woff2"), url(../fonts/Akrobat/Akrobat.ttf) format("truetype"), url(../fonts/Akrobat/Akrobat.svg#Akrobat) format("svg"), url(../fonts/Akrobat/Akrobat.otf) format("otf");
}
* {
  font-family: "Bebas Neue Cyrillic", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.gradient-left {
  position: absolute;
  top: 332px;
  left: -283px;
  width: 773px;
  height: 773px;
  border-radius: 773px;
  opacity: 0.5;
  background: var(--gradient-4-col, linear-gradient(37deg, rgba(234, 170, 32, 0.85) 0%, rgba(214, 34, 41, 0.85) 33.33%, rgba(199, 27, 116, 0.85) 66.67%, rgba(111, 36, 110, 0.85) 100%));
  filter: blur(500px);
  z-index: -1;
}
@media (max-width: 639px) {
  .gradient-left {
    width: 100%;
  }
}

.gradient-right {
  position: absolute;
  width: 793px;
  height: 725px;
  transform: rotate(-2.9deg);
  flex-shrink: 0;
  border-radius: 793px;
  opacity: 0.3;
  background: var(--yellow, #EAAA20);
  filter: blur(471px);
  z-index: -1;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .gradient-right {
    width: 100%;
  }
}
@media (max-width: 639px) {
  .gradient-right {
    display: none;
  }
}

.BGImg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .BGImg {
    top: 70px;
  }
  .BGImg img {
    object-fit: cover;
    max-width: 300px;
    height: 300px;
  }
}
@media (max-width: 639px) {
  .BGImg {
    top: 52px;
    right: 40px;
  }
  .BGImg img {
    max-width: 200px;
    height: 200px;
  }
}

.ellipse-1 {
  position: absolute;
  top: -90px;
  right: -50px;
  width: 770px;
  height: 792px;
  transform: rotate(-119deg);
  border-radius: 792px;
  border: 8px solid #070506;
  filter: blur(1px);
}

.ellipse-2 {
  position: absolute;
  top: -35px;
  right: -20px;
  width: 733px;
  height: 771px;
  transform: rotate(-119deg);
  border-radius: 100%;
  border: 8px solid var(--white, #EEE);
  filter: blur(1px);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 825px;
}
@media (max-width: 1200px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
}

.header-logo {
  display: flex;
  margin-top: 30px;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .header-logo {
    margin: 0 0 0 25px;
  }
}
@media (max-width: 639px) {
  .header-logo {
    margin: -40px 0 0 10px;
  }
}

.header-social {
  display: flex;
  justify-content: space-between;
  width: 390px;
  height: 40px;
  margin-top: 60px;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .header-social {
    margin: 0 auto;
  }
}
@media (max-width: 639px) {
  .header-social {
    width: 150px;
    margin: 10px 0 0 150px;
  }
}

.social {
  cursor: pointer;
  position: relative;
  display: flex;
  vertical-align: center;
}
.social:hover:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
}

.mobileAdaptiveSocial {
  display: flex;
  justify-content: space-between;
  width: 195px;
}
@media (max-width: 639px) {
  .mobileAdaptiveSocial {
    position: absolute;
    right: 40px;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 10px;
    margin: 70px -15px 0 0;
  }
}

.headerTitle {
  margin: 10px 0 0 25px;
}
@media (max-width: 1200px) {
  .headerTitle {
    display: none;
  }
}

.logoTitle {
  font-size: 46px;
  color: white;
}

.logoDescription {
  font-family: "Akrobat", sans-serif;
  font-weight: 500;
  color: gray;
}

.hoverSocial:hover:before {
  border-radius: 100%;
  background: rgb(199, 27, 116);
  background: linear-gradient(180deg, rgb(199, 27, 116) 0%, rgb(168, 66, 162) 85%);
  z-index: -1;
}

.course-title {
  display: flex;
  margin-top: 150px;
  color: var(--white, #EEE);
}
@media (min-width: 640px) and (max-width: 1200px) {
  .course-title {
    margin: -150px 0 0 25px;
  }
}
@media (max-width: 639px) {
  .course-title {
    margin: -130px 0 0 20px;
  }
}

.title {
  width: 230px;
  margin-top: 320px;
  color: var(--white, #EEE);
  font-size: 300px;
  font-weight: 400;
  transform: rotate(-90deg);
}
@media (min-width: 640px) and (max-width: 1200px) {
  .title {
    width: 130px;
    font-size: 150px;
  }
}
@media (max-width: 639px) {
  .title {
    margin-top: 332px;
    width: 70px;
    font-size: 100px;
  }
}

.course {
  height: 190px;
  margin-top: 145px;
  color: var(--white, #EEE);
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .course {
    height: 70px;
    margin-top: 285px;
    font-size: 100px;
  }
}
@media (max-width: 639px) {
  .course {
    height: 40px;
    margin-top: 318px;
    font-size: 75px;
  }
}

.experience {
  color: var(--white, #EEE);
  font-size: 90px;
  font-weight: 400;
  line-height: 111.5px;
  text-align: left;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .experience {
    height: 80px;
    font-size: 45px;
  }
}
@media (max-width: 639px) {
  .experience {
    height: 21px;
    font-size: 30px;
  }
}

.courseDescription {
  color: var(--white, #EEE);
  font-family: "Akrobat", serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 42px;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .courseDescription {
    height: 12px;
    font-size: 17px;
  }
}
@media (max-width: 639px) {
  .courseDescription {
    position: absolute;
    top: 380px;
    left: 10px;
    width: 285px;
    height: 10px;
    font-size: 14px;
  }
}

.button {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  color: #000;
  font-family: "Akrobat", serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  text-transform: capitalize;
  cursor: pointer;
  width: 274px;
  height: 114px;
  border-radius: 30px;
  border: none;
  background: var(--mag-purple, linear-gradient(90deg, #C71B74 0%, #A842A2 100%));
}
.button:hover {
  background: var(--mag-purple, linear-gradient(300deg, #C71B74 0%, #A842A2 100%));
}
@media (min-width: 640px) and (max-width: 1200px) {
  .button {
    position: absolute;
    top: 500px;
    font-size: 18px;
    cursor: pointer;
    width: 242px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: var(--mag-purple, linear-gradient(90deg, #C71B74 0%, #A842A2 100%));
  }
  .button:hover {
    background: var(--mag-purple, linear-gradient(300deg, #C71B74 0%, #A842A2 100%));
  }
}
@media (max-width: 639px) {
  .button {
    position: absolute;
    top: 500px;
    font-size: 18px;
    cursor: pointer;
    width: 300px;
    height: 45px;
    border-radius: 30px;
    border: none;
    background: var(--mag-purple, linear-gradient(90deg, #C71B74 0%, #A842A2 100%));
  }
  .button:hover {
    background: var(--mag-purple, linear-gradient(300deg, #C71B74 0%, #A842A2 100%));
  }
}

.blockCards {
  margin-top: 208px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .cards {
    margin-left: 10px;
  }
}
@media (max-width: 640px) {
  .cards {
    flex-wrap: nowrap;
    width: 100%;
    height: 380px;
    overflow: scroll;
  }
}
@media (max-width: 639px) {
  .cards {
    flex-wrap: nowrap;
    width: 100%;
    height: 380px;
    overflow: scroll;
    margin-left: 15px;
  }
}

.cards-title {
  color: var(--white, #EEE);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .cards-title {
    font-size: 32px;
  }
}
@media (max-width: 639px) {
  .cards-title {
    font-size: 24px;
  }
}

.cards-item {
  cursor: pointer;
  position: relative;
  margin-bottom: 320px;
  perspective: 1000px;
  width: 221px;
  padding-bottom: 40px;
}
@media (max-width: 640px) {
  .cards-item {
    margin-right: 250px;
  }
}

.cardsButton {
  position: relative;
  left: 50%;
  margin-top: 100px;
  transform: translate(-50%, 0);
  color: #000;
  font-family: "Akrobat", serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  text-transform: capitalize;
  cursor: pointer;
  width: 316px;
  height: 72px;
  border-radius: 50px;
  border: none;
  background: var(--mag-purple, linear-gradient(90deg, #C71B74 0%, #A842A2 100%));
}
.cardsButton:hover {
  background: var(--mag-purple, linear-gradient(300deg, #C71B74 0%, #A842A2 100%));
}
@media (min-width: 640px) and (max-width: 1200px) {
  .cardsButton {
    font-size: 18px;
    cursor: pointer;
    width: 364px;
    height: 45px;
    border-radius: 30px;
    border: none;
    background: var(--mag-purple, linear-gradient(90deg, #C71B74 0%, #A842A2 100%));
  }
  .cardsButton:hover {
    background: var(--mag-purple, linear-gradient(300deg, #C71B74 0%, #A842A2 100%));
  }
}
@media (max-width: 639px) {
  .cardsButton {
    margin: 30px 0 0 0;
    font-size: 18px;
    cursor: pointer;
    width: 300px;
    height: 45px;
    border-radius: 30px;
    border: none;
    background: var(--mag-purple, linear-gradient(90deg, #C71B74 0%, #A842A2 100%));
  }
  .cardsButton:hover {
    background: var(--mag-purple, linear-gradient(300deg, #C71B74 0%, #A842A2 100%));
  }
}

.cards-back {
  position: relative;
  width: 221px;
  height: 339px;
  border-radius: 16px;
  background-color: #EEEEEE;
  transform: rotateY(180deg);
}
.cards-back:before {
  content: "";
  position: absolute;
  width: 170px;
  height: 300px;
  border: 1px solid black;
  margin: 20px 25px;
  z-index: 1;
}

.cards-front, .cards-back {
  position: absolute;
  transition: 1s;
  backface-visibility: hidden;
}

.figureTop {
  position: absolute;
  top: 14px;
  left: 16px;
  width: 40px;
  height: 55px;
  color: var(--bg, #050505);
  font-family: "Akrobat", serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -2.5px;
  background-color: #EEEEEE;
  z-index: 2;
}

.figureBottom {
  position: absolute;
  bottom: 14px;
  right: 16px;
  width: 40px;
  height: 55px;
  color: var(--bg, #050505);
  font-family: "Akrobat", serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -2.5px;
  background-color: #EEEEEE;
  transform: rotate(-180deg);
  z-index: 2;
}

.card-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg, #050505);
  text-align: center;
  font-family: "Akrobat", serif;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 4;
}

.cubeOne {
  position: relative;
}
.cubeOne:before {
  content: "";
  position: absolute;
  margin-top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 101px;
  height: 199px;
  background: var(--redcard, linear-gradient(180deg, #FFF 0%, #D62229 100%));
  filter: blur(0.5px);
}

.cubeTwo {
  position: relative;
}
.cubeTwo:before {
  content: "";
  position: absolute;
  margin-top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 101px;
  height: 199px;
  background: linear-gradient(180deg, #FFF 0%, #EAAA20 100%);
  filter: blur(0.5px);
}

.cubeThree {
  position: relative;
}
.cubeThree:before {
  content: "";
  position: absolute;
  margin-top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 101px;
  height: 199px;
  background: linear-gradient(360deg, #6F246E 0%, #FFF 100%);
  filter: blur(0.5px);
}

.cubeFour {
  position: relative;
}
.cubeFour:before {
  content: "";
  position: absolute;
  margin-top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 101px;
  height: 199px;
  background: var(--magentacard, linear-gradient(180deg, #FFF 0%, #C71B74 100%));
  filter: blur(0.5px);
}

.cubeFive {
  position: relative;
}
.cubeFive:before {
  content: "";
  position: absolute;
  margin-top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 101px;
  height: 199px;
  background: var(--purplecard, linear-gradient(180deg, #FFF 0%, #6F246E 100%));
  filter: blur(0.5px);
}

.info-best {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 630px;
  margin-top: 120px;
  border-radius: 110px;
  background: var(--white, #EEE);
  z-index: -1;
}
@media (min-width: 320px) and (max-width: 639px) {
  .info-best {
    border-radius: 10px;
  }
}

.info-center {
  width: 100%;
  margin-right: 95px;
}
@media (max-width: 1200px) {
  .info-center {
    margin-right: 0;
  }
}

.info-title {
  text-align: right;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .info-title {
    margin-right: 35px;
  }
}
@media (max-width: 639px) {
  .info-title {
    margin-top: 117px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .best {
    font-size: 50px;
  }
}
@media (min-width: 640px) and (max-width: 710px) {
  .best {
    color: var(--white, #EEE);
  }
}
@media (max-width: 639px) {
  .best {
    color: var(--bg, #050505);
  }
}

.best100 {
  margin: 32px 0 0 0;
  color: #050505;
  font-size: 90px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .best100 {
    font-size: 50px;
  }
}
@media (max-width: 639px) {
  .best100 {
    text-align: left;
    margin: 0 auto;
    width: 222px;
  }
}

.bestDescription {
  color: var(--bg, #050505);
  font-size: 75px;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  text-align: right;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .bestDescription {
    font-size: 50px;
  }
}
@media (max-width: 639px) {
  .bestDescription {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
  }
}

.info-item {
  width: 320px;
  min-height: 100px;
  margin: 0 0 30px 10px;
}
@media (min-width: 640px) and (max-width: 659px) {
  .info-item {
    width: 190px;
  }
}
@media (max-width: 639px) {
  .info-item {
    margin-bottom: 20px;
    width: 110px;
  }
}

.hundred {
  color: #6F246E;
  font-size: 120px;
}
@media (max-width: 1200px) {
  .hundred {
    font-size: 64px;
  }
}

.info-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 250px;
  margin-top: 50px;
  margin-left: 25px;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .info-description {
    margin: 50px 0 0 0;
  }
}
@media (max-width: 639px) {
  .info-description {
    margin: 20px 0;
  }
}

.tr {
  position: absolute;
  left: 0;
  top: 45%;
  width: 420px;
  color: var(--bg, #050505);
  text-align: center;
  font-size: 100px;
  font-weight: 400;
  line-height: 111px;
  text-transform: capitalize;
  transform: rotate(-90deg) translateY(-60%);
}

.infoButton {
  cursor: pointer;
  position: relative;
  width: 460px;
}
@media (max-width: 1200px) {
  .infoButton {
    display: none;
  }
}
.infoButton:before {
  content: "";
  position: absolute;
  border: 4px dashed black;
  height: 100%;
}

.info-subtitle {
  color: var(--bg, #050505);
  font-family: "Akrobat", serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 42px;
}
@media (max-width: 639px) {
  .info-subtitle {
    font-size: 18px;
  }
}

.specification {
  width: 100%;
  color: #484848;
  font-family: "Akrobat", serif;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 639px) {
  .specification {
    font-size: 12px;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .bestImg {
    position: absolute;
    top: -120px;
    height: 300px;
    z-index: -1;
  }
}
@media (max-width: 639px) {
  .bestImg {
    display: none;
  }
}

.MobileImg {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 640px) {
  .MobileImg {
    display: none;
  }
}

.pyramid-title {
  margin-top: 202px;
  text-align: center;
  color: var(--white, #EEE);
  font-size: 64px;
  font-weight: 400;
  line-height: 42px;
}
@media (max-width: 639px) {
  .pyramid-title {
    margin-top: 66px;
    font-size: 32px;
  }
}

.wrapper {
  position: relative;
}

.gradient-pyramidTop {
  position: absolute;
  top: -500px;
  width: 100%;
  height: 100%;
  border-radius: 1120px;
  opacity: 0.3;
  background: var(--yellow, #EAAA20);
  filter: blur(500px);
  z-index: -2;
}

.gradient-pyramidBottom {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  border-radius: 1794px;
  opacity: 0.3;
  background: var(--purple, #6F246E);
  filter: blur(500px);
  z-index: -2;
}

.pyramid {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 162px;
  min-height: 400px;
}
.pyramid:before {
  content: "";
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 100%;
  background: rgb(232, 153, 33);
  background: linear-gradient(180deg, rgb(232, 153, 33) 0%, rgb(214, 34, 41) 29%, rgb(199, 27, 116) 58%, rgb(111, 36, 110) 85%);
  z-index: -1;
}
.pyramid:after {
  content: url("../../img/EllipseGradient.svg");
  position: absolute;
  left: 50%;
  bottom: -41.5px;
  transform: translateX(-50%);
}
@media (max-width: 639px) {
  .pyramid {
    margin-top: 118px;
    padding: 0 12px 0 12px;
  }
}

.circle {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
}

.innerCircleTop {
  position: absolute;
  top: -80.7px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: orange;
}

.innerCircleBottom {
  position: absolute;
  bottom: -26.7px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: purple;
}

.pyramid-item {
  position: relative;
  margin: 0 auto 60px auto;
}
.pyramid-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -14px;
  left: -14px;
  background: linear-gradient(99deg, rgb(232, 153, 33) 0%, rgb(214, 34, 41) 29%, rgb(199, 27, 116) 58%, rgb(111, 36, 110) 85%) padding-box;
  color: #313149;
  padding: 10px;
  border: 5px solid transparent;
  border-radius: 20px;
  z-index: -1;
}
@media (max-width: 639px) {
  .pyramid-item:before {
    border-radius: 35px;
  }
}
@media (max-width: 639px) {
  .pyramid-item {
    margin: 0 auto 16px auto;
  }
}

.strategy {
  height: 76px;
  padding: 5px 24px 0 24px;
  text-align: center;
  border-radius: 16px;
  border: 6px solid var(--str-8, #000);
  background: linear-gradient(135deg, #EAAA20 0%, #EAAA20 0.01%, #E26F24 100%);
  color: #EEE;
  font-family: "Akrobat", serif;
  font-size: 40px;
  font-weight: 700;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .strategy {
    padding-top: 20px;
    font-size: 20px;
  }
}
@media (max-width: 639px) {
  .strategy {
    padding-bottom: 20px;
    height: 32px;
    border-radius: 35px;
    font-size: 12px;
  }
}

.practice {
  height: 90px;
  padding: 10px 28px 0 28px;
  color: var(--white, #EEE);
  font-family: "Akrobat", serif;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  border-radius: 16px;
  border: 6px solid var(--str-8, #000);
  background: linear-gradient(130deg, #E06125 0%, #D93728 100%);
}
@media (min-width: 640px) and (max-width: 1200px) {
  .practice {
    padding-top: 24px;
    font-size: 24px;
  }
}
@media (max-width: 639px) {
  .practice {
    padding-bottom: 32px;
    border-radius: 35px;
    height: 41px;
    font-size: 18px;
  }
}

.offset {
  height: 110px;
  padding: 10px 32px 0 32px;
  font-family: "Akrobat", serif;
  color: var(--white, #EEE);
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  border-radius: 16px;
  border: 6px solid var(--bg, #050505);
  background: linear-gradient(130deg, #D62329 0%, #D12045 100%);
}
@media (min-width: 640px) and (max-width: 1200px) {
  .offset {
    padding-top: 28px;
    font-size: 32px;
  }
}
@media (max-width: 639px) {
  .offset {
    padding-bottom: 36px;
    border-radius: 35px;
    height: 54px;
    font-size: 20px;
  }
}

.addTeam {
  height: 139px;
  padding: 0 36px 0 36px;
  font-family: "Akrobat", serif;
  color: var(--white, #EEE);
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  border-radius: 16px;
  border: 6px solid var(--str-8, #000);
  background: linear-gradient(130deg, #D02048 0%, #BE1C74 100%);
}
@media (min-width: 640px) and (max-width: 1200px) {
  .addTeam {
    padding-top: 36px;
    font-size: 48px;
  }
}
@media (max-width: 639px) {
  .addTeam {
    padding-top: 10px;
    border-radius: 35px;
    height: 65px;
    font-size: 24px;
  }
}

.money {
  height: 180px;
  padding: 0 40px 0 40px;
  font-family: "Akrobat", serif;
  color: var(--white, #EEE);
  text-align: center;
  font-size: 128px;
  font-weight: 700;
  border-radius: 20px;
  border: 6px solid var(--str-8, #000);
  background: linear-gradient(131deg, #BB1D74 0%, #6F246E 100%);
}
@media (min-width: 640px) and (max-width: 1200px) {
  .money {
    padding-top: 40px;
    font-size: 64px;
  }
}
@media (max-width: 639px) {
  .money {
    padding-top: 12px;
    height: 70px;
    font-size: 26px;
    border-radius: 30px;
  }
}

.pyramidButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 220px;
  color: #000;
  font-family: "Akrobat", serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 42px;
  cursor: pointer;
  width: 696px;
  height: 105px;
  border-radius: 50px;
  border: none;
  background: var(--mag-purple, linear-gradient(90deg, #C71B74 0%, #A842A2 100%));
}
.pyramidButton:hover {
  background: var(--mag-purple, linear-gradient(300deg, #C71B74 0%, #A842A2 100%));
}
@media (max-width: 1200px) {
  .pyramidButton {
    display: none;
  }
}

.footer {
  position: relative;
  margin: 300px 0 231px 0;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .footer {
    margin-top: 100px;
  }
}
@media (max-width: 639px) {
  .footer {
    margin-top: 60px;
  }
}

.questions {
  color: var(--white, #EEE);
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .questions {
    font-size: 50px;
  }
}
@media (max-width: 639px) {
  .questions {
    font-size: 40px;
  }
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 390px;
  margin: 50px auto 50px auto;
}
@media (max-width: 639px) {
  .footer-social {
    flex-wrap: wrap;
    margin: 30px auto;
    width: 210px;
    height: 110px;
  }
}

.socialFooter {
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}
.socialFooter:hover:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
}

.ask {
  color: var(--white, #EEE);
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .ask {
    font-size: 50px;
  }
}
@media (max-width: 639px) {
  .ask {
    font-size: 40px;
  }
}

.footerImg {
  position: absolute;
  right: 0;
  bottom: -231px;
  z-index: -1;
}
@media (min-width: 640px) and (max-width: 1200px) {
  .footerImg img {
    width: 200px;
  }
}
@media (max-width: 639px) {
  .footerImg {
    display: none;
  }
}

.mobileFooterImg {
  display: none;
}
@media (max-width: 639px) {
  .mobileFooterImg {
    display: block;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.chat {
  margin: 100px 15px 0 15px;
  min-height: 615px;
  border-radius: 50px;
  background: var(--white, #EEE);
}
@media (max-width: 1200px) {
  .chat {
    background: none;
  }
}
@media (max-width: 639px) {
  .chat {
    margin-top: 0;
  }
}

.chatWrapper {
  display: flex;
  justify-content: space-between;
  width: 1120px;
  min-height: 415px;
  margin: 0 auto;
  padding-top: 100px;
}
@media (max-width: 1200px) {
  .chatWrapper {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
  }
}

.chatLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
  min-height: 414px;
  padding: 40px 0 40px 40px;
  border-radius: 20px;
  border: 1px solid var(--bg, #050505);
}
@media (max-width: 1200px) {
  .chatLeft {
    width: 100%;
    background: var(--white, #EEE);
  }
}
@media (max-width: 639px) {
  .chatLeft {
    display: block;
    padding: 0;
    min-height: 100%;
  }
}

.chatRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 560px;
  min-height: 414px;
  border-radius: 20px;
  background: var(--bg, #050505);
}
@media (max-width: 1200px) {
  .chatRight {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 320px) and (max-width: 639px) {
  .chatRight {
    padding: 0;
    margin-bottom: 40px;
  }
}

.chatTitle {
  height: 84px;
  color: var(--bg, #050505);
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
}
@media (max-width: 639px) {
  .chatTitle {
    margin-top: 20px;
    text-align: center;
  }
}

.chatTelegram {
  cursor: pointer;
  position: relative;
  width: 320px;
  height: 140px;
}
.chatTelegram:before {
  content: url("../../img/social/telegram.svg");
  position: absolute;
  bottom: 0;
  right: 10px;
}
@media (max-width: 639px) {
  .chatTelegram:before {
    right: 40px;
  }
}
@media (max-width: 639px) {
  .chatTelegram img {
    margin: 0 10px;
    width: 270px;
    height: 140px;
  }
}

.chatWrite {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  color: var(--white, #EEE);
  font-family: "Akrobat", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
}
@media (max-width: 639px) {
  .chatWrite {
    font-size: 28px;
  }
}

.formTitle {
  color: var(--magenta, #C71B74);
  font-family: "Akrobat", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  width: 300px;
}
@media (max-width: 639px) {
  .formTitle {
    margin-top: 100px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.formWrapper input {
  width: 100%;
  height: 50px;
  margin: 10px 0 10px;
  padding-left: 20px;
  border-radius: 10px;
  background: var(--white, #EEE);
}

.formChecked {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.formChecked input:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  color: #D62329;
}

.checkboxDescription {
  color: #FFF;
  font-family: "Akrobat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.real-checkbox {
  display: none;
}

.custom-checkbox {
  display: flex;
  width: 20px;
  height: 20px;
  stroke-width: 2px;
  stroke: #FFF;
  border: 3px solid #FFFFFF;
  vertical-align: sub;
}
.custom-checkbox:before {
  content: "";
  position: relative;
  width: 15px;
  height: 15px;
  background-image: url("../../img/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(0);
}

.real-checkbox:checked + .custom-checkbox:before {
  transform: scale(1);
}

.buttonForm {
  margin-top: 20px;
  color: var(--white, #EEE);
  font-family: "Akrobat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 42px;
  text-transform: capitalize;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: var(--mag-purple, linear-gradient(90deg, #C71B74 0%, #A842A2 100%));
}
.buttonForm:hover {
  background: var(--mag-purple, linear-gradient(300deg, #C71B74 0%, #A842A2 100%));
}

/*# sourceMappingURL=index.css.map */
